.blog {
    padding: 0 20px;
    max-width: 1170px;
    margin: 0 auto var(--section-spacing);
    &-header {
        text-align: center;
    }
    &-heading {
        margin: 0 auto 20px;
        max-width: 454px;
    }
    &-desc {
        margin-bottom: 40px;
    }
    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 28px;
    }
    &-item {
        background-color: #ffffff;
        border-radius: 17px;
        transition: all 0.3s linear;
        &:hover {
            box-shadow: 0px 46px 100px -31px rgba(0, 0, 0, 0.1);
            .blog-title {
                color: $primary-color;
            }
        }
    }
    &-content {
        padding: 32px 22px;
    }
    &-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.5;
        color: $gray-dark;
        transition: all 0.2s ease-in-out;
    }
    &-text {
        font-weight: 400;
        font-size: 13px;
        line-height: calc(20 / 13);
    }
    &-image {
        height: 322px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 17px 17px 0px 0px;
        }
    }
    @media screen and (max-width: 1023px) {
        &-list {
            grid-auto-columns: 300px;
            grid-auto-flow: column;
            overflow: auto;
            overflow-y: hidden;
            scroll-snap-type: x mandatory;
            scroll-snap-stop: always;
            touch-action: manipulation;
            -webkit-overflow-scrolling: touch;
            grid-template-columns: unset;
        }
        &-list::-webkit-scrollbar {
            display: none;
            width: 0;
        }
        &-item {
            scroll-snap-align: start;
        }
    }
}
