.navigation {
    display: flex;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
    padding: 30px 20px;
}

.menu {
    margin-left: auto;
    margin-right: 75px;
    display: flex;
    align-items: center;
    gap: 0 38px;
    &-link {
        color: inherit;
        position: relative;
        transition: all 0.3s linear;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            background-color: $primary-color;
            width: 0;
            transition: all 0.3s linear;
        }
        &:hover {
            color: $primary-color;
        }
        &:hover::before {
            width: 100%;
        }
    }
}

.header {
    padding-bottom: var(--section-spacing);
    &-auth {
        display: flex;
        gap: 0 12px;
    }
    &-main {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 36px;
        max-width: 1160px;
        margin: 0 auto;
        padding: 30px 20px;
    }
    &-content {
        max-width: 100%;
    }
    &-heading {
        margin: 18px 0 24px;
    }
    &-desc {
        margin-bottom: 36px;
    }
    &-actions {
        display: flex;
        align-items: center;
        gap: 0 36px;
    }
    &-watch {
        display: flex;
        align-items: center;
        gap: 0 36px;
        font-weight: 500;
        color: $gray-dark;
        &-icon {
            width: 59px;
            height: 59px;
            background-color: #fff;
            border-radius: 100rem;
            box-shadow: 0px 17px 25px rgba(140, 141, 146, 0.12);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &-image {
        transform: scale(1.1);
    }
}

@media screen and (min-width: 1024px) {
    .header {
        &-content {
            max-width: 490px;
        }
    }
}

@media screen and (max-width: 1023px) {
    .header {
        &-main {
            flex-direction: column;
        }
        &-auth {
            margin-left: auto;
        }
        &-content {
            text-align: center;
        }
        &-actions {
            justify-content: center;
            margin-bottom: 28px;
        }
        &-image {
            transform: none;
        }
        &-menu-toggle {
            font-size: 24px;
            margin-left: 12px;
        }
    }
    .menu {
        margin-right: 0;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #fff;
        width: 75%;
        max-width: 320px;
        display: block;
        border-left: 1px solid #eee;
        padding: 52px 20px;
        z-index: 100;
        transition: transform 0.3s linear;
        transform: translateX(100%);
        &-link {
            padding: 16px;
            display: block;
        }
    }
    .menu.active {
        transform: translateX(0);
    }
}

@media screen and (max-width: 767px) {
    .header {
        &-actions {
            flex-direction: column;
            gap: 26px;
        }
        &-auth {
            &-signup,
            &-login {
                padding: 10px;
                gap: 0 8px;
                font-size: 13px;
            }
        }
        &-logo {
            max-width: 92px;
        }
    }
}
