block mixins 
    include ./views/mixins
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="./css/app.css")
    body 
        .wrapper 
            include ./views/header
            include ./views/brand
            include ./views/service
            include ./views/who
            include ./views/mission
            include ./views/review
            include ./views/blog
            include ./views/newsletter
            include ./views/footer
        script(src="./js/script.js") 