section.brand
    .brand-item 
        img(src="./images/brand-google.svg", alt="")
    .brand-item 
        img(src="./images/brand-google.svg", alt="")
    .brand-item 
        img(src="./images/brand-google.svg", alt="")
    .brand-item 
        img(src="./images/brand-google.svg", alt="")
    .brand-item 
        img(src="./images/brand-google.svg", alt="")