footer.footer 
    .footer-container 
        .footer-main
            .footer-column 
                .footer-logo 
                    img(srcset="./images/footer-logo.png 2x", alt="")
                p.footer-desc Nulla non otllo venicula, ultricles lorem a, allquarn nes!. Etlam et lorem lobortls, cony allis nunc.  
                ul.footer-social 
                    li.footer-social-item 
                        a.footer-social-link(href="#!") 
                            i.fa.fa-facebook
                    li.footer-social-item 
                        a.footer-social-link(href="#!") 
                            i.fa.fa-twitter
                    li.footer-social-item 
                        a.footer-social-link(href="#!") 
                            i.fa.fa-instagram 
            .footer-column 
                h3.footer-heading Services
                ul.footer-links 
                    li.footer-link-item 
                        a.footer-link(href="#!") Email Marketing Social 
                    li.footer-link-item 
                        a.footer-link(href="#!") Media Marketing Search 
                    li.footer-link-item 
                        a.footer-link(href="#!") Engine Optimization 
                    li.footer-link-item 
                        a.footer-link(href="#!") Prnelnct Devnionmnni 
                    li.footer-link-item 
                        a.footer-link(href="#!") Web Development    
            .footer-column 
                h3.footer-heading Support
                ul.footer-links 
                    li.footer-link-item 
                        a.footer-link(href="#!") Sizicik. Community
                    li.footer-link-item 
                        a.footer-link(href="#!") Support Documents 
                    li.footer-link-item 
                        a.footer-link(href="#!") Help:le-Lk API Documents  
                    li.footer-link-item 
                        a.footer-link(href="#!") 5nvin,es Witus  
                    li.footer-link-item 
                        a.footer-link(href="#!") Email Contort     
            .footer-column 
                h3.footer-heading Contact Us
                ul.footer-links 
                    li.footer-link-item 
                        a.footer-link(href="#!") suppariaringrozom
                    li.footer-link-item 
                        a.footer-link(href="#!") (41) 84?-5E2-451 
                    li.footer-link-item 
                        a.footer-link(href="#!") North Cry, 547 Link Road.              
    .footer-bottom 
        p.footer-copyright All Right Reserved by Us! Copyright 2021 

