header.header
    .navigation
        img.header-logo(srcset="./images/logo.png 2x", alt="")
        include ./menu
        .header-auth
            a.btn.btn--secondary.header-auth-login(href="#!") Login 
            a.btn.btn--primary.header-auth-signup(href="#!") Sign Up
    .header-main
        .header-content 
            span.global-caption AWARD WINNING COMPANY
            h1.global-heading.global-heading--huge.header-heading We Are The Best Digital Markeing
            p.global-text.header-desc You need to get positive results when you spend hard earned revenue and time on any marketing effort.Great returns on marketing and promotions. 
            .header-actions 
                a.btn.btn--primary(href="#!") Get Started
                a.header-watch(href="#!") 
                    .header-watch-icon
                        img(srcset="./images/icon-play.png 2x", alt="")
                    span Watch Video
        .header-image 
            img(srcset="./images/img-header.png 2x", alt="")