section.who
    .who-image 
        img(srcset="./images/img-who.png 2x", alt="")
    .who-content 
        span.global-caption.who-caption WHO WE ARE
        h2.global-heading.global-heading--big.who-heading Top #1 Marketing Agency in the World
        p.global-text.who-text Nunc venenalis Iorem sed risus trlstque sent per. Duls porta,  rutruni tempus, lectus risus imDerdiet tellus, sed faucibus sum ipsum ncn neque. Curubilu r eleirend, erut ullamcorper porta. eras turpis. 
        a.btn.btn--primary(href="#!") Get In Touch 